body {
                margin-top: 0px;
                margin-left: 0px; margin-right: 0px;
                background: #FFFFFF;
                font-family : "Verdana";
                }

        A:link                { font-size:11px; color: #0000CC; text-decoration: none; }
        A:visited                        { font-size:12px; color: #000000; text-decoration: none; }
        A:active                { font-size:11px; color: #FFFFFF;  }


        .head {
                color: #FFFFFF;
                font-size:18px;
                font-weight:normal;
                  background: #6666FF;
                  line-height:20px;
                text-align:center;
                  margin-top:0px;
                margin-bottom:0px;
                  padding:2px;
                border: 0px solid #000000;
                }

        .plainhead {
                color: #FFFFFF;
                font-size:18px;
                font-weight:normal;
                  background: #6666FF;
                  line-height:20px;
                text-align:center;
                  margin-top:0px;
                margin-bottom:0px;
                  padding:2px;
                }

        .lefthead {
                color: #FFFFFF;
                font-size:18px;
                font-weight:normal;
                  background: #6666FF;
                  line-height:21px;
                text-align:right;
                  margin-top:1px;
                margin-bottom:1px;
                  padding:2px;
                }

        .littlehead {
                color: #FFFFFF;
                font-size:12px;
                font-weight:bold;
                  background: #6666FF;
                  line-height:20px;
                text-align:center;
                  margin-top:0px;
                margin-bottom:0px;
                  padding:2px;
                border: 1px solid #999999;
                }

        .littleheadplain {
                color: #000000;
                font-size:12px;
                font-weight:bold;
                  background: #99CCFF;
                  line-height:20px;
                text-align:center;
                  margin-top:0px;
                margin-bottom:0px;
                  padding:2px;
                }

        #content {
                background: #FFFFFF;
                top: 20px;
                padding: 5px;

              }

        .main {
                  padding-left:10px;
                  padding-top:15px;
                  padding-right:10px;
                }


        .mainbody {

                color: #000000;
                font-size:12px;
                font-weight:normal;
                text-align:right;
                  background: #99CCFF;
                  line-height:14px;
                  margin-top:10px;
                margin-bottom:10px;
                  padding:10px;

                }

        .side {

                color: #FFFFFF;
                font-size: 10px;
                font-weight:normal;
                text-align:center;
                  background: #99CCFF;
                  line-height:14px;
                padding:2px;
                margin-top:0px;
                border: 1px solid #999999;
                }

        .tablehead {
                color: #FFFFFF;
                font-size: 10px;
                font-weight:normal;
                text-align:center;
                  background: #6666FF;
                  line-height:14px;
                padding:2px;
                margin-top:2px;
                border: 1px solid #111111;
                }

        .tablebody {
                color: #000000;
                font-size:13px;
                font-weight:normal;
                text-align:right;
                  background: #99CCFF;
                  line-height:13px;
                  margin-top:2px;
                margin-bottom:2px;
                  padding:2px;
                border: 1px solid #111111;
                }

        .tablebodycenter {
                color: #000000;
                font-size:13px;
                font-weight:normal;
                text-align:center;
                  background: #99CCFF;
                  line-height:13px;
                  margin-top:2px;
                margin-bottom:2px;
                  padding:2px;
                border: 1px solid #111111;
                }

        .sidetitle {

                color: #FFFFFF;
                font-size:10px;
                font-weight:bold;
                  background: #6666FF;
                  line-height:12px;
                  padding:2px;
                  margin-top:10px;
                  text-transform:uppercase;
                text-align:center;
                border: 1px solid #666666;
                }

        #llinks {
                z-index:2;
                position:absolute;
                top: 10px;
                left: 2px;
                width: 120px;
                background: #FFFFFF;
                color: #000000;
                padding-bottom:20px;
                }


         .footer {

                color: #000000;
                font-size:10px;
                font-weight:normal;
                  background: #FFFFFF;
                  line-height:14px;
                  margin-top:5px;
                margin-bottom:10px;
                  padding:10px;
                }

        .htmlcode {
                color: #FFFFFF;
                font-size:12px;
                font-weight:normal;
                  background: #000000;
                  line-height:14px;
                  margin-top:10px;
                margin-bottom:10px;
                  padding:10px;
                }

        .button {
                font: 13px Verdana;
                background-color: #6699CC;
                color: #000000;
                margin-left: 0px;
                margin-top: 0px;
                margin-bottom: 0px;
                border: 1px solid #111111;
                }

        .formbox {
                color: #000000;
                background: #6699CC;
                border: 1px solid #111111;
                }

        .varhead {
                color: #FFFFFF;
                font-size:12px;
                font-weight:bold;
                  background: #6666FF;
                  line-height:20px;
                text-align:center;
                  margin-top:0px;
                margin-bottom:0px;
                  padding:2px;
                }

        .tableheadleft {
                color: #FFFFFF;
                font-size: 10px;
                font-weight:normal;
                text-align:left;
                  background: #6666FF;
                  line-height:14px;
                padding:2px;
                margin-top:2px;
                border: 1px solid #111111;
                }

        #dhtmltooltip{
                position: absolute;
                width: 150px;
                border: 2px solid black;
                padding: 2px;
                font-size: 10px;
                background-color: beige;
                visibility: hidden;
                z-index: 100;
                filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
                }