body {
		margin-top: 0px;
		margin-left: 0px; margin-right: 0px;
		background: #FFFFFF;
		font-family : "Verdana";
		}
	A 		{ color: #333333; font-family: verdana, arial, sans-serif; text-decoration: none;} 
	A:link		{ font-size:11px; color: #df0004; text-decoration: none; } 
	A:visited	                { font-size:11px; color: #df0004; text-decoration: none; } 
	A:active		{ font-size:11px; color: #8e8000;  } 
	a:hover		{ font-size:11px; text-decoration: underline; color: Red;}

	.head {
		color: #FFFFFF;
		font-size:18px;
		font-weight:normal;
  		background: #666699;
  		line-height:20px; 
		text-align:center;		
  		margin-top:0px;
		margin-bottom:0px;
  		padding:2px;
		border: 1px solid #666666
		}	
	
	.plainhead {
		color: #000000;
		font-size:18px;
		font-weight:normal;
  		background: #CCCCFF;
  		line-height:20px; 
		text-align:center;		
  		margin-top:0px;
		margin-bottom:0px;  		
  		padding:2px;
		}	

	.lefthead {
		color: #000000;
		font-size:18px;
		font-weight:normal;
  		background: #CCCCFF;
  		line-height:20px; 
		text-align:left;		
  		margin-top:0px;
		margin-bottom:0px;  		
  		padding:2px;
		}	

	.littlehead {
		color: #FFFFFF;
		font-size:12px;
		font-weight:bold;
  		background: #666699;
  		line-height:20px; 
		text-align:center;		
  		margin-top:0px;
		margin-bottom:0px;  		
  		padding:2px;
		}	

	.littleheadplain {
		color: #000000;
		font-size:12px;
		font-weight:bold;
  		background: #CCCCFF;
  		line-height:20px; 
		text-align:center;		
  		margin-top:0px;
		margin-bottom:0px;  		
  		padding:2px;
		}	

	#content {
		background: #FFFFFF;
                top: 20px;
                padding: 5px;
		margin-left: 122px;
		margin-bottom:20px;

              }

	.main {
  		padding-left:10px;
  		padding-top:15px;
  		padding-right:10px;	
		}	

	
	.mainbody {

		color: #000000;
		font-size:11px;
		font-weight:normal;
		text-align:left;
  		background: #CCCCFF;
  		line-height:14px;
  		margin-top:10px;
		margin-bottom:10px;  		
  		padding:10px;

		}	

	.side {

		color: #000000;
		font-size: 10px;
		font-weight:normal;
                text-align:center;
  		background: #CCCCFF;
  		line-height:14px;
		padding:2px;
		margin-top:0px;
		border: 1px solid #666666;			
		}	

	.tablehead {
		color: #000000;
		font-size: 10px;
		font-weight:normal;
                text-align:center;
  		background: #666699;
  		line-height:14px;
		padding:2px;
		margin-top:0px;
		border: 1px solid #666666;
		}

	.tablebody {
		color: #000000;
		font-size:12px;
		font-weight:normal;
		text-align:left;
  		background: #CCCCFF;
  		line-height:11px;
  		margin-top:2px;
		margin-bottom:2px;  		
  		padding:2px;
		border: 1px solid #666666
		}	

	.sidetitle {
		
		color: #FFFFFF;
		font-size:10px;
		font-weight:bold;
  		background: #666699;
  		line-height:12px;
  		padding:2px;
  		margin-top:10px;
  		text-transform:uppercase;
		text-align:center;	
		border: 1px solid #666666;  					
		}		

	#llinks {
		z-index:2;
		position:absolute;
		top: 10px;
		left: 2px;
		width: 120px;
		background: #FFFFFF;
		color: #000000;
		padding-bottom:20px;
		}


	 .footer {

		color: #000000;
		font-size:10px;
		font-weight:normal;
  		background: #FFFFFF;
  		line-height:14px;
  		margin-top:5px;
		margin-bottom:10px;  		
  		padding:10px;
		}	

	.htmlcode {
		color: #000000;
		font-size:12px;
		font-weight:normal;
  		background: #CCCCFF;
  		line-height:14px; 
  		margin-top:10px;
		margin-bottom:10px;  		
  		padding:10px;
		}	